:root {
    --dark: #000000;
    --light: #ffffff;
}

* {
    text-align: center;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Courier New', Courier, monospace;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.highscores,
.timer {
    display: inline;
}

.answerButtons {
    display: flex;
    flex-direction: column;
}

ol {
    list-style-position: inside;
}